<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="MoreLinq.Portable" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" userInstalled="true" />
</packages>